<div class="starter-template">
  <h1>Welcome to Forecasts!</h1>
  <p class="lead">
    Create, read, update and delete holiday bird forecast records.
  </p>
  <p>
    <a href="/holidaybirdfcs" class="btn btn-primary">
      View Forecasts
    </a>
  </p>
</div>
